<!DOCTYPE html>
                <html>
                <head>
                <meta charset="ISO-8859-1">
                <title>Home Page</title>
                <title style="align-content: center;">Job Insights</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                
                <style>
                    th{
                        padding: auto;
                        margin: auto;
                        background-color: rgb(255, 153, 0);
                        text-transform: capitalize;
                    }
                  </style>
                  </head>  
                  <body><table border="1" class="dataframe table table-stripped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>company_name</th>
      <th>location</th>
      <th>via</th>
      <th>related_links</th>
      <th>detected_extensions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Web Developer</td>
      <td>Green Gold</td>
      <td>India</td>
      <td>via Indeed</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Green+Gold&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCLgJ">See web results for Green Gold</a>]</td>
      <td>{'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Web Developer</td>
      <td>Tata Consultancy Services</td>
      <td>Hyderabad, Telangana, India</td>
      <td>via LinkedIn</td>
      <td>[<a href="http://www.tcs.com/">tcs.com</a>, <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Tata+Consultancy+Services&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCOUJ">See web results for Tata Consultancy Services</a>]</td>
      <td>{'posted_at': '3 days ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Full Stack Web Developer</td>
      <td>Sphathi Technologies Private Limited</td>
      <td>Hyderabad, Telangana, India</td>
      <td>via Indeed</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Sphathi+Technologies+Private+Limited&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCJAK">See web results for Sphathi Technologies Private Limited</a>]</td>
      <td>{'posted_at': '12 hours ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Web Developer</td>
      <td>Genworth</td>
      <td>Anywhere</td>
      <td>via Genworth - Talentify</td>
      <td>[<a href="http://www.genworth.com/">genworth.com</a>, <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Genworth&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCL8K">See web results for Genworth</a>]</td>
      <td>{'schedule_type': 'Full-time', 'work_from_home': True}</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Full Stack Web Developer</td>
      <td>Sphathi Technologies Private Limited</td>
      <td>Secunderabad, Telangana, India</td>
      <td>via Talent.com</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Sphathi+Technologies+Private+Limited&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCOsK">See web results for Sphathi Technologies Private Limited</a>]</td>
      <td>{'posted_at': '1 day ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Web Developer</td>
      <td>MACKENZIE MODERN IT SOLUTIONS PRIVATE LIMITED</td>
      <td>India</td>
      <td>via Shine.com</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=MACKENZIE+MODERN+IT+SOLUTIONS+PRIVATE+LIMITED&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCJcL">See web results for MACKENZIE MODERN IT SOLUTIONS PRIVATE LIMITED</a>]</td>
      <td>{'posted_at': '14 hours ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Web Developer wordpress</td>
      <td>Philips Homecare Pty Ltd</td>
      <td>Anywhere</td>
      <td>via Glassdoor</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Philips+Homecare+Pty+Ltd&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCMYL">See web results for Philips Homecare Pty Ltd</a>]</td>
      <td>{'posted_at': '1 day ago', 'schedule_type': 'Full-time', 'work_from_home': True}</td>
    </tr>
    <tr>
      <th>7</th>
      <td>PHP Web Developer</td>
      <td>SSAM Softwares</td>
      <td>Indore, Madhya Pradesh, India</td>
      <td>via Indeed</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=SSAM+Softwares&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCPUL">See web results for SSAM Softwares</a>]</td>
      <td>{'posted_at': '20 hours ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Back End Developer</td>
      <td>Quickly Platforms</td>
      <td>Indore, Madhya Pradesh, India</td>
      <td>via LinkedIn</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Quickly+Platforms&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCKIM">See web results for Quickly Platforms</a>]</td>
      <td>{'posted_at': '1 day ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Frontend Developer</td>
      <td>Zoom</td>
      <td>India</td>
      <td>via Careers - Zoom</td>
      <td>[<a href="https://www.zoom.com/">zoom.com</a>, <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Zoom&amp;sa=X&amp;ved=0ahUKEwjEppC25o__AhVaRDABHe7cB_4QmJACCM8M">See web results for Zoom</a>]</td>
      <td>{'schedule_type': 'Full-time'}</td>
    </tr>
  </tbody>
</table></body>
</html>