<!DOCTYPE html>
                <html>
                <head>
                <meta charset="ISO-8859-1">
                <title>Home Page</title>
                <title style="align-content: center;">Job Insights</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                
                <style>
                    th{
                        padding: auto;
                        margin: auto;
                        background-color: rgb(255, 153, 0);
                        text-transform: capitalize;
                    }
                  </style>
                  </head>  
                  <body><table border="1" class="dataframe table table-stripped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>title</th>
      <th>company_name</th>
      <th>location</th>
      <th>via</th>
      <th>related_links</th>
      <th>detected_extensions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Web Developer</td>
      <td>FTM</td>
      <td>India</td>
      <td>via LinkedIn</td>
      <td>[<a href="http://www.francotosimeccanica.it/">francotosimeccanica.it</a>, <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=FTM&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCLgJ">See web results for FTM</a>]</td>
      <td>{'posted_at': '11 hours ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Web Developer Intern (Remote)</td>
      <td>MonetizeMore</td>
      <td>Anywhere</td>
      <td>via LinkedIn</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=MonetizeMore&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCOUJ">See web results for MonetizeMore</a>]</td>
      <td>{'posted_at': '17 hours ago', 'schedule_type': 'Internship', 'work_from_home': True}</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Senior Web Developer</td>
      <td>CYBERARK SOFTWARE</td>
      <td>Hyderabad, Telangana, India</td>
      <td>via Careers @ CyberArk</td>
      <td>[<a href="http://www.cyberark.com/">cyberark.com</a>, <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=CYBERARK+SOFTWARE&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCJUK">See web results for CYBERARK SOFTWARE</a>]</td>
      <td>{'posted_at': '6 days ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Web Developer</td>
      <td>Crestfin LLC</td>
      <td>Hyderabad, Telangana, India</td>
      <td>via LinkedIn</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Crestfin+LLC&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCMIK">See web results for Crestfin LLC</a>]</td>
      <td>{'posted_at': '15 hours ago', 'schedule_type': 'Contractor'}</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Web Developer</td>
      <td>Essel</td>
      <td>Anywhere</td>
      <td>via Jobs By Workable</td>
      <td>[<a href="http://www.essilor.com/">essilor.com</a>, <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Essel&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCPEK">See web results for Essel</a>]</td>
      <td>{'schedule_type': 'Full-time', 'work_from_home': True}</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Sr. Web Developer</td>
      <td>Uplers</td>
      <td>Hyderabad, Telangana, India</td>
      <td>via LinkedIn</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Uplers&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCJ4L">See web results for Uplers</a>]</td>
      <td>{'posted_at': '1 day ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Web Designers</td>
      <td>Crazy Web Designers</td>
      <td>Indore, Madhya Pradesh, India</td>
      <td>via SmartRecruiters Job Search</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Crazy+Web+Designers&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCMkL">See web results for Crazy Web Designers</a>]</td>
      <td>{'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Senior Web Developer</td>
      <td>Xcelo Group Inc</td>
      <td>Hyderabad, Telangana, India</td>
      <td>via LinkedIn</td>
      <td>[<a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Xcelo+Group+Inc&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCPQL">See web results for Xcelo Group Inc</a>]</td>
      <td>{'posted_at': '21 hours ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Web Developer</td>
      <td>Cendyn</td>
      <td>Hyderabad, Telangana, India</td>
      <td>via JobScore</td>
      <td>[<a href="http://www.cendyn.com/">cendyn.com</a>, <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Cendyn&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCKMM">See web results for Cendyn</a>]</td>
      <td>{'posted_at': '21 days ago', 'schedule_type': 'Full-time'}</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Web Developer</td>
      <td>Genworth</td>
      <td>Anywhere</td>
      <td>via Jobgether</td>
      <td>[<a href="http://www.genworth.com/">genworth.com</a>, <a href="https://www.google.com/search?hl=en&amp;gl=us&amp;q=Genworth&amp;sa=X&amp;ved=0ahUKEwjZz-n4vv7-AhXIlmoFHfRUA1oQmJACCNMM">See web results for Genworth</a>]</td>
      <td>{'schedule_type': 'Full-time', 'work_from_home': True}</td>
    </tr>
  </tbody>
</table></body>
</html>